

<div id="update_materiale" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Materiales</h4>
    </div>
    <div class="modal-body">
        <h3 id="materiale_name"></h3>
        <form role="form">
            <input type="hidden" id="materiale_id"/><br>
            <input type="hidden" id="materiale_ctrl"/><br>
            <div class="form-group">
                <label>Event:</label>
                <select class="form-control" id="materiale_event">
                <% @events.each do |event| %>
                  <option value="'<%= event.name%>'"><%= event.name%></option>
                <%end%>
              </select>
          </div>
          <div class="form-grop">
            <label>Quantity:</label>
            <input type="number" class="form-control" id="materiale_quantity"/><br>
        </div>
        <div class="form-grop">
            <label>Remark:</label>
            <input type="text" class="form-control" id="materiale_remark"/><br>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="update_materiale()">Save changes</button>
</div>

</div>
</div>
</div>
