<div class="container">
    <h1>Bom列表</h1>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>型号</th>
                <th>版本</th>
                <th>状态</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <%= render @boms%>
        </tbody>
    </table>

    <br>

    <%= link_to 'New Bom', new_bom_path %>

</div>
