<div class="container">
    <p>
        <strong>型号:</strong>
        <%= @product.name %>
    </p>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
</div>
