<div class="navbar navbar-inverse navbar-fixed-top">
    <!-- <div class="container"> -->
        <div class="navbar-header">
            <a href="/" class="navbar-brand">ONYX</a>

        </div>
        <div id="user_nav" class="nav navbar-right navbar-brand">
            <% if user_signed_in? %>
            <%= link_to "#{current_user.email}(#{current_user.name})", edit_user_registration_path, :calss => "navbar-link"%>
            <%= link_to '注销', users_sign_out_path, :method => :delete, :class => "navbar-link" %>
            <% else %>
            <%= link_to '注册', users_sign_up_path, :class => "navbar-link" %> / <%= link_to '登录', users_sign_in_path, :class => "navbar-link" %>
            <% end %>
        </div>
    <!-- </div> -->
</div>